# Standard
node_modules

# Build directries
.pct/
.builder/

# Build.One Workspace directories & files
/data
/tmp
/logs
/db

# Additional ignores
/version.json
*.log
*.dfw
/.vscode/*.code-snippets

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
